<h3>Welcome LittleHelpers!</h3>

<p>
    <div>
        <ul>
            <li><a asp-area="" asp-controller="User" asp-action="SignIn">Existing Helper</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="Add">New Helper</a></li>
        </ul>
    </div>
</p>