@model LittleHelpMVC.ViewModels.AddEditHelpViewModel
<h3>@ViewBag.Title</h3>

<form asp-controller="Admin" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label><br />
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Contact"></label>
        <input class="form-control" asp-for="Contact" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
    </div>
    <input type="hidden" asp-for="HelpId" />
    <button>Edit</button>

</form>
<br />
@*<p><a asp-controller="Admin" asp-action="Index">Main Page</a></p>*@
