@model LittleHelpMVC.ViewModels.ResetViewModel
<h3>@ViewBag.Title</h3>

<form asp-controller="Admin" asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="Verify"></label>
        <input class="form-control" type="password" asp-for="Verify" />
        <span asp-validation-for="Verify"></span>
    </div>

      <input type="hidden" name="UserId" id="@ViewBag.LoginId" value="@ViewBag.LoginId" /> 
    @* <input type="hidden" asp-for="@Model.UserId" /> *@

    <input type="submit" value="Change Password" />

</form>
<br />
@*<p><a asp-controller="Admin" asp-action="Index">Main Page</a></p>*@
